# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\c0622i1\thread-count-md2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
